body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f3f3f3;
  padding-left: 10rem;
  padding-right: 10rem;
}

/*자기소개 버튼들*/
.buttons {
  position: absolute;
  top: 3em;
  display: flex;
  gap: 30px;
  z-index: 1000;
}

/* 버튼 스타일 */
.buttons button {
  padding: 10px;
  font-size: 1em;
  color: #000;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: transparent;
  position: relative; /* 체크 표시를 나타낼 위치 지정 */
}

/* 버튼 호버 시 체크표시 애니메이션 추가 */
.buttons button:hover::after {
  content: "✔"; /* 체크 표시 */
  position: absolute;
  top: -40%;
  left: 30%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 1.5rem;
  color: #000;
  opacity: 1;
  animation: checkmark-animate 0.1s ease-out forwards;
}

/* 체크표시 애니메이션 */
@keyframes checkmark-animate {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}

.buttons .bar {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin-top: 5px;
}

.container {
  display: flex;
  justify-content: center;
}

.first-container {
  margin-top: 9em;
  padding: 20px;
  background: transparent;
}

/*2번째 컨테이너*/
.highlight-p {
  opacity: 1;
  font-size: 1.25em;
  color: rgb(35 35 35 / var(--tw-text-opacity));
  font-weight: 400;
  margin-bottom: 3em;
}

.highlight {
  color: #08a045;
}

.ABOUT-ME {
  display: flex;
}

.ABOUT-ME-01 {
  color: #08a045;
  margin-right: 0.45em;
  font-weight: 300;
  font-size: 30px;
  font-family: "Paperlogy-8ExtraBold";
  font-style: normal;
  line-height: 1;
}

.ABOUT-ME-02 {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.second-container {
  background: transparent;
}

.content-wrapper {
  display: flex;
  width: 100%;
}

.Main-Introduction {
  font-family: "Paperlogy-8ExtraBold";
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 1;
}

/*내 사진 이미지*/
.text-with-image {
  width: 40%;
  text-align: center;
  margin-top: 2em;
  margin-left: 2em;
}

.text-with-image img {
  max-width: 100%;
  height: auto;
}

.text-with-image p {
  margin: 0;
  font-size: 18px;
}

/*메리트 주제*/
.merit-title {
  display: inline;
  font-weight: bold;
  color: #08a045;
}

.bracket {
  display: inline;
}

/*내 메리트*/
.merit {
  width: 50%;
  text-align: left;
  margin-left: 2.5em;
  margin-top: 2em;
}

/*개인정보*/
.Personal-information {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  width: 100%;
  max-width: 1200px;
  margin-top: 30px;
}

.information-p {
  font-size: 1.25em;
}

/*내 정보*/
.My-information {
  margin-left: 2em;
}

/*자격증*/
.LICENSE {
  margin-left: 4em;
}

.EDUCATION {
  margin-left: 4em;
}

.EDUCATION-p {
  font-size: 18px;
}

.EDUCATION-small {
  font-size: 15px;
}

/* fullpage 스타일*/
.section {
  height: 100vh; /* 전체 높이 설정 */
}

/*AOS 스타일*/
[data-aos] {
  pointer-events: all; /* 클릭 이벤트 활성화 */
  z-index: 10; /* 버튼이 다른 요소보다 위에 위치하도록 조정 */
}

.aos-section {
  text-align: center;
}
